@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Warna baru sesuai referensi */
  --background: #0D1117; 
  --foreground: #EAEAEA;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Variabel font akan diatur di layout.tsx */
  font-family: var(--font-primary), sans-serif;
}  